@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: gray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

/*Novo seletor:'font variant' em especial o small-caps, que faz com que todas as letras sejam maiúsculas e as primeiras de cada palavra maiores que as demais.*/

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

/*O vh faz com que o seletor utilizado se adeque ao vh da tela, ou seja, reduzindo o tamanho da tela os seletores se adequam.
Ex: padding-top e bottom abaixo.*/
/*O line-heigth é o espaçamento entre linhas.*/

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.545);
    color: white;
}

/*Abaixo foi criado uma caixa preta transparente para que a escrita fique visível mesmo após adicionar a imagem de fundo.*/

section.imagem > p {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.258);
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}